#omg_statuslog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 80%;
}

#omg_statuslog > div:nth-child(1) {
    background: var(--main-color);
    border-radius: 11px;
    color: white; 
}

#omg_statuslog > div {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px
}

#omg_statuslog .status_emoji {
    font-size: 50px;
}

#omg_statuslog .status_content {
    flex: 80%;
}