{{ $account := .Site.Params.status_account }}
    {{ $url := printf "https://api.omg.lol/address/%s/statuses/" $account }}
    {{ $data := getJSON $url }}
    {{ if $data.response.statuses }}
        <div id="omg_statuslog">
            {{ range first $.Site.Params.status_count $data.response.statuses }}
                <div class="status">
                    <div class="status_emoji">{{ .emoji }}</div>
                    <div class="status_content">{{ .rendered_markdown | safeHTML }}</div>
                    {{ $created := .created | int }}
                    <div class="status_date">{{ $created | dateFormat "02 January 2006" }}</div>
                </div>
            {{ end }}
        </div>
    {{ else }}
        <p>No statuses available.</p>
    {{ end }}
