<script>
    document.addEventListener('DOMContentLoaded', function () {
    const statusesContainer = document.getElementById('omg_statuslog');

    fetch('https://api.omg.lol/address/{{- $.Site.Params.status_account }}/statuses/')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data && data.response && data.response.statuses) {
                const statuses = data.response.statuses.slice(0, {{- $.Site.Params.status_count }});
                statuses.forEach(status => {
                    const statusElement = document.createElement('div');
                    statusElement.classList.add('status');
                    statusElement.innerHTML = `
                        <div class="status_emoji">${status.emoji}</div>
                        <div class="status_content">${status.content}</div>
                        <div class="status_date">${new Date(status.created * 1000).toLocaleString('en-GB', {day: 'numeric', month: 'short', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})}</div>
                    `;
                    statusesContainer.appendChild(statusElement);
                });
            } else {
                throw new Error('Malformed response data');
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
});
</script>

<div id="omg_statuslog"></div>